.shaking {
  animation: 1.5s 0s both shaking-motion;
}

.goal {
  animation: 2s ease goal ;
}

*[state="active"][animation="active-element"] {
  animation: 1.5s ease-in-out 0s normal none infinite running rotate-elements;
}

*[state="active"][animation="active-plate"] {
  animation: 1.5s ease-in-out 0s normal none infinite running rotate-plate;
}

*[state="active"][animation="active-box"] {
  animation: 1.5s ease-in-out 0s normal none infinite running rotate-box;
}

@keyframes shaking-motion {
  0%, 
  20% {
    transform: translate3d(0, 0, 0);
  }
  10%, 
  14%, 
  18%, 
  2%, 
  6% {
    transform: translate3d(-2px, 0, 0);
  }
  12%, 
  16%, 
  4%, 
  8% {
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes goal {
  0%   { 
    transform: scale(1,1) ; }
  10%  { 
    transform: scale(1.2) ; }
  30%  { 
    transform: scale(.9, 1); }
  50%  { 
    transform: scale(1,0)    }
  100% {
    transform: scale(1,0)  
  }
}

@keyframes rotate-plate {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }

  10%,
  30% {
    transform: rotate(-5deg);
  }

  20%,
  40% {
    transform: rotate(5deg);
  }
}

@keyframes rotate-elements {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }

  10%,
  30% {
    transform: rotate(-10deg);
  }

  20%,
  40% {
    transform: rotate(10deg);
  }
}

@keyframes rotate-box {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }

  10%,
  30% {
    transform: rotate(-2deg);
  }

  20%,
  40% {
    transform: rotate(2deg);
  }
}