* {
  box-sizing: border-box;
}

pre {
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;
  background: rgb(46, 42, 35);
  color: rgba(255, 255, 255, .3);
  max-height: 100%;
  margin: 0px;
}

.main-wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100vh;
  overflow-y: auto;
}

.main-wrapper::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(12, 0, 0, 0);
}

.main-wrapper:hover::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(12, 0, 0, 0.568);
}

.main-wrapper:hover::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: rgb(97, 97, 97);
}

.header {
  width: 100%;
}

.header__logo {
  position: relative;
  padding-left: 33px;
  font-size: 18px;
}

.header__logo::before {
  content: "";
  position: absolute;
  left: 10px;
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-image: url(../assets/images/apple.png);
}

.main-wrapper__task {
  font-size: 45px;
  margin: 0;
  text-align: center;
}

.main-wrapper__btn-help,
.levels__btn,
.popup-content__btn {
  font-size: 17px;
  background: rgba(0, 0, 0, .2);
  border-radius: 15px;
  padding: 8px 15px 10px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.popup-content__btn {
  margin: 25px 0px;
  cursor: pointer;
  font-size: 20px;
  width: 150px;
  color: rgb(102, 102, 102);
  height: 40px;
  background: rgba(65, 64, 64, 0.48);
  color: rgba(255, 255, 255, 0.267);
  border: none;
}

.levels__btn {
  width: 70px;
  margin: 0 auto;
}

.main-wrapper__btn-help:hover,
.levels__btn:hover,
.popup-content__btn:hover {
  color: rgba(255, 255, 255, .6);
  background: rgba(18, 18, 18, 0.666);
}

.picnic {
  position: relative;
  z-index: 0;
  width: 600px;
  min-height: 300px;
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/images/grass.jpg);
  border: 10px solid rgba(0, 0, 0, 0.432);
}

.picnic__blanket {
  position: absolute;
  z-index: 1;
  left: 7%;
  top: 5%;
  width: 500px;
  height: 250px;
  background-size: 100%;
  background-image: url(../assets/images/blanket.jpg);
  box-shadow: 0.2em 0.3em 4em rgba(12, 0, 0, 0.862);
}

.plate,
.apple,
.orange,
.bread,
.sausage,
.box,
.donut {
  cursor: pointer;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
}

.plate,
.apple,
.orange {
  border-radius: 50%;
}

.plate {
  z-index: 2;
  width: 170px;
  height: 170px;
  background-size: 105%;
  background-image: url(../assets/images/craft_plate.png);
}

.plate[order="first"] {
  left: 14%;
  top: 15%;
  box-shadow: 0.2em 0.3em 3em rgb(12, 0, 0);
}

.plate[order="second"] {
  left: 50%;
  top: 15%;
  box-shadow: 0.3em 0.2em 3em rgba(12, 0, 0, 0.375);
}

.red,
.apple {
  z-index: 3;
  width: 50px;
  height: 50px;
  background-size: 110%;
  box-shadow: 0.2em 0.3em 2em rgb(12, 0, 0);
}

.apple {
  background-image: url(../assets/images/apple.png);
}

.red {
  background-image: url(../assets/images/apple_red.png);
}

.apple[location="plate"][level="2"] {
  left: 35%;
  top: 35%;
}

.apple[location="plate"][level="3"] {
  left: 50%;
  top: 40%;
}

.red[size="small"] {
  width: 40px;
  height: 40px;
}

.red[location="plate"][level="3"] {
  left: 20%;
  top: 25%;
}

.apple[location="blanket"] {
  width: 45px;
  height: 45px;
  left: 50%;
  top: 20%;
  box-shadow: 0.2em 0.3em 1em rgb(12, 0, 0);
}

.red[size="small"][location="blanket"] {
  left: 59%;
  top: 15%;
  box-shadow: 0.2em 0.3em 2em rgb(12, 0, 0);
}

.apple[location="plate"][level="5"],
.apple[level="6"] {
  left: 50%;
  top: 25%;
}

.red[level="5"],
.red[level="6"] {
  left: 42%;
  top: 55%;
}

.red[level="7"] {
  left: 37%;
  top: 55%;
}

.orange,
.sliced-orange {
  z-index: 3;
  width: 55px;
  height: 55px;
}

.orange {
  background-size: 110%;
  background-image: url(../assets/images/orange.png);
  box-shadow: 0.3em 0.5em 2em rgb(12, 0, 0);
}

.orange[level="4"],
.orange[level="5"],
.orange[level="6"] {
  left: 17%;
  top: 30%;
}

.orange[level="7"] {
  width: 50px;
  height: 50px;
  left: 46%;
  top: 27%;
}

.sliced-orange {
  background-size: 100%;
  background-image: url(../assets/images/sliced-orange.png);
  box-shadow: 0.3em 0.5em 3em rgb(12, 0, 0);
}

.sliced-orange[level="4"] {
  left: 48%;
  top: 35%;
}

.sliced-orange[level="9"] {
  z-index: 2;
  left: 45%;
  top: 28%;
}

.plate,
.apple,
.red,
.orange,
.sliced-orange {
  border-radius: 50%;
}

.bread {
  z-index: 6;
  width: 50px;
  height: 50px;
  background-size: 107%;
  background-image: url(../assets/images/bread.png);
  border-radius: 10%;
  box-shadow: 0.2em 0.3em 1em rgba(12, 0, 0, 0.452);
}

.bread[level="6"] {
  left: 28%;
  top: 35%;
}

.plate[order="first"]>.bread[level="8"] {
  left: 34%;
  top: 35%;
}

.plate[order="second"]>.bread[level="8"],
.plate[order="second"]>.shaking[level="8"] {
  left: 30%;
  top: 37%;
}

.bread[level="10"] {
  left: 32%;
  top: 28%;
}

.sausage {
  z-index: 4;
  width: 42px;
  height: 41px;
  background-size: 120%;
  background-image: url(../assets/images/sausage.png);
  border-radius: 72% 71% 62% 65% / 60% 72% 73% 61%;
  box-shadow: 0.2em 0.3em 3em rgb(12, 0, 0);
}

.sausage[location="plate"][order="first"][level="8"] {
  left: 48%;
  top: 30%;
}

.sausage[location="bread"][level="8"],
.sausage[level="10"] {
  left: 7%;
  top: 10%;
}

.donut,
.acing-donut {
  width: 42px;
  height: 41px;
  background-size: 120%;
  border-radius: 72% 71% 62% 65% / 60% 72% 73% 61%;
  box-shadow: 0.2em 0.3em 2em rgba(12, 0, 0, 0.744);
  background-color: rgba(12, 0, 0, 0.293);
}

.donut {
  z-index: 3;
  background-image: url(../assets/images/donut.png);
}

#acing-donut {
  z-index: 5;
  background-image: url(../assets/images/acing_donut.png);
}

.donut[level="6"] {
  z-index: 7;
  left: 52%;
  top: 35%;
}

.donut[location="box"][level="7"][order="first"] {
  left: 15%;
  top: 31%;
}

.donut[location="box"][level="7"][order="second"] {
  left: 35%;
  top: 31%;
}

.donut[location="box"][level="7"][order="third"] {
  left: 55%;
  top: 31%;
}

.donut[location="plate"][level="7"],
#acing-donut[location="plate"][level="9"] {
  width: 45px;
  height: 45px;
  z-index: 3;
  left: 20%;
  top: 31%;
  background-color: rgba(12, 0, 0, 0.358);
}

.donut[location="plate"][level="9"] {
  left: 37%;
  top: 55%;
}

.donut[location="box"][level="9"][order="first"],
.donut[location="box"][level="10"][order="first"] {
  left: 13%;
  top: 31%;
}

.donut[location="box"][level="9"][order="second"],
.donut[location="box"][level="10"][order="second"] {
  left: 28%;
  top: 31%;
}

#acing-donut[location="box"][level="9"][order="third"],
.donut[location="box"][level="10"][order="third"] {
  z-index: 3;
  left: 43%;
  top: 31%;
}

.donut[location="box"][level="9"][order="fourth"],
.donut[location="box"][level="10"][order="fourth"] {
  left: 58%;
  top: 31%;
}

.box {
  z-index: 2;
  width: 147px;
  height: 107px;
  background-size: 100%;
  background-image: url(../assets/images/box.png);
  box-shadow: 0.3em 0.5em 2em rgb(12, 0, 0);
}

.box[order="first"] {
  left: 15%;
  top: 29%;
}

.box[order="second"] {
  left: 55%;
  top: 29%;
}

.main-wrapper__code-wrapper {
  width: 80%;
  padding: 30px 0px 0px 0px;
}

.code-container {
  display: flex;
  justify-content: center;
  border: 10px solid rgba(0, 0, 0, .3);
}

.code-container__item {
  width: 100%;
  min-height: 350px;
}

.code-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  background-color: rgba(0, 0, 0, .15);
  border-top: 1px solid rgb(51, 51, 51);
}

.html-viewer__header {
  border-right: 1px solid rgb(51, 51, 51);
}

.code-content {
  display: flex;
  flex-direction: row;
}

.css-editor__content {
  background-color: rgb(239, 239, 239);
  color: rgb(153, 153, 153);
}

.html-viewer__content {
  color: rgb(102, 102, 102);
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(51, 51, 51);
}

.line-numbers {
  text-align: right;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  line-height: 150%;
}

.line-numbers_css {
  background-color: rgb(221, 221, 221);
}

.line-numbers_html {
  border-right: 1px solid rgb(51, 51, 51);
}

.code-content__code {
  width: 90%;
  padding: 10px 15px;
}

.markup__item {
  cursor: pointer;
}

.css-edit-field {
  width: 100%;
  font-size: 13px;
  padding-top: 10px;
}

.textarea-field {
  display: flex;
  flex-direction: row;
}

.textarea-container {
  width: 90%;
  position: relative;
  max-height: 20px;
  display: flex;
  /* border: 1px solid; */
  align-items: center;
}

.textarea {
  position: absolute;
  height: 80%;
  font-size: 13px;
  line-height: 100%;
  opacity: 0;
  width: 100%;
  min-width: 100%;
  /* border: 1px solid; */
  border: none;
  outline: none;
  resize: none;
  padding: 0px;
}

.code {
  width: 100%;
  height: 100%;
}

.textarea-markup {
  font-size: 13px;
  width: 100%;
  height: 100%;
  /* border: 3px solid blue; */
}

.textarea-field__btn {
  width: 50px;
  cursor: pointer;
  background-color: rgb(221, 221, 221);
  line-height: 80%;
  max-height: 100%;
  padding: 4px 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.textarea-field__btn:hover {
  color: rgba(255, 255, 255, .6);
  background: rgba(18, 18, 18, 0.342);
}

.markup {
  font-size: 13px;
  line-height: 162%;
  margin: 0;
}

.rss-link-container {
  width: 50px;
  height: 50px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/images/rs-logo.png);
  margin: 0 auto;
}

.rss-link {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.link {
  color: rgba(255, 255, 255, 0.397);
  text-decoration: none;
  transition: 0.3s;
}

.link:hover {
  color: rgba(255, 255, 255, 0.636);
  text-decoration: none;
}

.levels-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.174);
  height: 100vh;
  width: 15%;
}

.levels {
  display: flex;
  flex-direction: column;
}

.levels__title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 0;
}

.levels-list__item {
  padding: 10px 10px 10px 40px;
  font-size: 20px;
  list-style: none;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.levels-list__item:hover {
  color: rgba(255, 255, 255, .6);
}

.levels-list__item::before {
  content: "";
  position: absolute;
  padding-top: 10px;
  left: 0;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/images/check-mark-svgrepo-com.svg);
}

.passed-level::before {
  background-image: url(../assets/images/checked-mark.svg);
}

.passed-level[with-help="true"]::after {
  content: "";
  position: absolute;
  padding-top: 30px;
  left: 18px;
  width: 13px;
  height: 13px;
  background-size: 13px 13px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/images/help-browser-symbolic-svgrepo-com.svg);
}

.light-text,
.current-level {
  color: rgba(255, 255, 255, .6);
}

.apple[location].selected-element,
.plate[order].selected-element,
.selected-element {
  box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 1);
}

[tooltip]::after {
  font-size: 13px;
  position: absolute;
  bottom: 120%;
  height: auto;
  content: attr(tooltip);
  color: rgba(12, 0, 0, 0.9);
  width: auto;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 2px 7px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, .5);
}

.plate[tooltip]::after,
.box[tooltip]::after {
  bottom: 100%;
}

.selected-markup span {
  color: rgba(255, 255, 255, 1);
}

.popup-wrapper {
  display: none;
}

.popup-wrapper_active {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100vw;
  display: flex;
  z-index: 100;
  transition: 0.4s;
  top: 40%;
  left: 50%;
  transform: translate(-56%, -40%);
}

.popup-container {
  text-align: center;
  font-size: 20px;
  max-width: 100%;
  border: 2px solid rgb(102, 102, 102);
  background: rgba(40, 34, 34, 0.971);
  height: auto;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-57%, -45%);
  color: rgba(255, 255, 255, 0.815);
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 9%;
  width: 95%;
  padding: 5% 5% 5% 9%;
}

.popup-content__congratulations {
  font-size: 40px;
}

.popup-content__message {
  font-size: 30px;
}

@media (max-width: 1150px) {
  .levels-list {
    padding-left: 25px;
  }
}

@media (max-width: 1030px) {
  .code-container {
    display: flex;
    flex-direction: column;
  }

  .code-container__item {
    min-height: 35px;
  }

  .css-edit-field {
    padding-bottom: 0px;
  }

  .line-numbers_css {
    padding-top: 9px;
    height: 35px;
    overflow: hidden;
  }

  .levels-list {
    padding-left: 15px;
  }
}

@media (max-width: 910px) {
  .levels-wrapper {
    width: 18%;
  }

  .main-wrapper {
    width: 82%;
  }
}

@media (max-width:760px) {
  .levels-list {
    padding-left: 10px;
  }

  .picnic {
    width: 100%;
  }

  .picnic__blanket {
    width: 95%;
    left: 2%;
    top: 5%;
  }

  .main-wrapper__code-wrapper {
    width: 90%;
  }
}

@media (max-width:725px) {
  .levels-list__item {
    padding: 10px 10px 10px 35px;
    font-size: 18px;
  }

  .levels-list__item::before {
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
  }
}

@media (max-width:658px) {
  .levels-list {
    padding-left: 10px;
  }

  .levels-wrapper {
    width: 20%;
  }

  .main-wrapper {
    width: 80%;
  }

  .main-wrapper__code-wrapper {
    width: 100%;
  }

  .plate[order="first"] {
    left: 10%;
  }

  .box[order="first"] {
    left: 12%;
  }

  .popup-container {
    font-size: 17px;
  }

  .popup-container {
    transform: translate(-60%, -45%);
  }

  .popup-content__congratulations {
    font-size: 35px;
    margin: 30px 10px 15px 15px;
  }
}

@media (max-width:595px) {
  .levels-wrapper {
    width: 22%;
  }

  .main-wrapper {
    width: 78%;
  }

  .plate[order="first"] {
    left: 7%;
  }
}

@media (max-width:565px) {
  .levels-wrapper {
    width: 24%;
  }

  .main-wrapper {
    width: 76%;
  }

  .main-wrapper__task {
    padding: 0px 10px;
    font-size: 40px;
  }

  .plate {
    width: 150px;
    height: 150px;
  }

  .box[order="first"] {
    left: 8%;
    top: 26%;
  }

  .box[order="second"] {
    left: 52%;
    top: 26%;
  }
}

@media (max-width: 534px) {
  .box[order="first"] {
    left: 5%;
  }
}

@media (max-width: 517px) {
  .plate[order="first"] {
    left: 3%;
  }
}